body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1a206b;
    color: #fff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#home {
    text-align: center;
    padding: 100px 0;
}

#home h1 {
    font-size: 36px;
}

#home p {
    font-size: 18px;
    margin-top: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1a206b;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

#about, #events, #projects, #blog, #contact {
    background-color: #fff;
    padding: 40px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2, #events h2, #projects h2, #blog h2, #contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    font-size: small;
    background-color: #1a206b;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.meeting_footer {
    text-align: center;
    font-size: small;
    background-color: #1a206b;
    color: #fff;
    padding: 10px 0;
    position: relative !important;
    bottom: 0;
    width: 100%;
}

footer p {
    font-size: small;
    margin-top: 3px;
}

.social-icons {
    margin-top: 8px;
    transition: transform 0.3s ease-in-out;
}

.social-icons img {
    width: 30px; 
    height: auto;
    margin-right: 10px; 
}

.social-icons img:hover {
    transform: scale(1.2);
}
